# OpenSSL configuration for Kafka components

[kafka]
# Specify the extension configuration for SAN
req_extensions = req_ext

[req_ext]
# Reference to the alt_names section for SAN entries
subjectAltName = @alt_names

[alt_names]
# List of DNS names for Kafka components (use FQDNs in Kubernetes)
DNS.1 = kafka-ca
DNS.2 = kafka-controller-0.kafka.kfk-k8s.svc.cluster.local
DNS.3 = kafka-controller-1.kafka.kfk-k8s.svc.cluster.local
DNS.4 = kafka-controller-2.kafka.kfk-k8s.svc.cluster.local
DNS.5 = kafka.kfk-k8s
DNS.6 = localhost
IP.1 = 127.0.0.1

[v3_ca]
# Basic constraints for a CA certificate (only if generating CA cert)
basicConstraints = CA:TRUE
keyUsage = keyCertSign, cRLSign
